wp-content/upgrade
wp-content/uploads
sitemap.*
wp-config.php
*.sql
/logs
app/sql
local-adminer*

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
.htaccess

# SiteGround
/staging
php_errorlog
.ftpquota
.well-known/*
